.container {
    display: flex;
    margin: 2em 10em;
}



.menu-benef {
    background-color: var(--branco-de-fundo);
    color: var(--preto);
    font-weight: bold;
}

.container-menu-p {
    display: flex;
    justify-content: space-between;
    background-color: var(--branco-de-fundo);
    border-radius: 5%;
    margin: 0 1em 1em 1em;
    padding: 1em .5em 1em 1em;
    font-weight: bold;
    white-space: nowrap;
}
.container-menu-p p {
    text-align: center;
}

.container-menu-p input {
    margin-left: 5em;
}

.container-items-1 {
    display: flex;
    margin: 0 0 1em 2em;
}

.container-items-2 {
    display: flex;
    margin: 0 0 1em 2em;
}

.container-items-img {
    width: 90%;
}

.menu-p {
    margin: 1em 0;
}

.menu-li {
    margin-left: .5em;
}

.container-items-li {
    margin-right: 1em;
    background-color: var(--branco-de-fundo);
    padding: 1em;
    border-radius: 1%;
}

.container-items-1 {
    display: flex;
    justify-content: space-between;
}

.container-items-2 {
    display: flex;
    justify-content: space-between;
}

.container-items-h2 {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.container-items-p1 {
    font-size: 13px;
    margin-bottom: .5em;
    color: var(--verde);
}

.container-items-p1 s {
    color: var(--preto);
    
}

.container-items-p2 {
    font-size: 20px;
    color: var(--verde);
    margin-bottom: .5em;

}

.container-items-p3 {
    color: var(--verde);
    margin-bottom: .5em;
}

.container-items-p4 {
    line-height: 150%
}