.cabeçalho {
    background-color: var(--branco-de-fundo);
    padding: 1em 0 1em 0;
}

.cabeçalho-container {
    display: flex;
    justify-content: space-between;
}

.cabeçalho-h1 {
    color: var(--cor-do-titulo);
    margin-left: .5em;
    font-size: 20px;
    font-weight: bold;
}

.cabeçalho-img {
    width: 0.9%;
    padding: 1em 0;
}

.cabeçalho-pesquisa-p {
    margin-bottom: .5em;
}

.cabeçalho-pesquisa-input {
    background-color: transparent;
    border: 1px solid var(--cinza);
    color: var(--branco);
    border-radius: 24px;
    padding-left: 20em;
    padding-bottom: .5em;
}

.cabeçalho-pesquisa-input::placeholder {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: right;
}